@font-face {
    font-family: flexslider-icon;
    src: url(../fonts/flexslider-icon.eot);
    src: url(../fonts/flexslider-icon.eot?#iefix) format("embedded-opentype"), url(../fonts/flexslider-icon.woff) format("woff"), url(../fonts/flexslider-icon.ttf) format("truetype"), url(../fonts/flexslider-icon.svg#flexslider-icon) format("svg");
    font-weight: 400;
    font-style: normal
}

.flex-container a:hover,
.flex-slider a:hover {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.mainbanner .slides>li,
.slides {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.flexslider {
    margin: 0;
    padding: 0;
    border: none
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides img {
    width: 100%;
    display: block
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .flexslider .slides {
    display: block
}

* html .flexslider .slides {
    height: 1%
}

.no-js .flexslider .slides>li:first-child {
    display: block
}

.flexslider {
    margin: 0;
    border: 0;
    position: relative;
    zoom: 1;
    -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2)
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides img {
    height: auto;
    -moz-user-select: none
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav {
    position: absolute;
    width: 100%
}

.mainbanner .flex-direction-nav {
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%)
}

.mainbanner .flex-direction-nav a {
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: block;
    margin: -20px 0 0;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
    overflow: hidden;
    z-index: 3000
}

.flex-direction-nav a:before {
    background: 0 0;
    color: #f2bcba;
    font-family: icomoon;
    font-size: 30px;
    display: inline-block;
    content: '\e904';
    padding: 0 12px 0 8px
}

.flexslider .flex-next {
    opacity: .8
}

.flexslider .flex-prev {
    opacity: .8
}

.flex-direction-nav a.flex-next:before {
    content: '\e903'
}

.flex-direction-nav .flex-prev {
    margin-left: 0 !important;
    position: relative
}

.mainbanner .flex-direction-nav .flex-prev {
    left: 7px !important;
    bottom: 30px
}

.mainbanner .flex-direction-nav .flex-next {
    right: 10px;
    bottom: 30px
}

.flex-direction-nav .flex-next {
    text-align: right
}

.mainbanner .flexslider:hover .flex-direction-nav .flex-prev {
    left: 10px
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: .7
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1
}

.mainbanner .flexslider:hover .flex-direction-nav .flex-next {
    right: 10px
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: .7
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    cursor: default;
    z-index: -1
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}

.flex-pauseplay a:before {
    font-family: flexslider-icon;
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-pauseplay a.flex-play:before {
    content: '\f003'
}

.flex-control-nav {
    position: relative;
    bottom: 0;
    z-index: 3000;
    display: block;
    margin: 0 auto 0;
    padding: 0 10px;
    text-align: center
}

.flex-control-nav li {
    margin: 11px 6px 0;
    display: inline-block;
    zoom: 1;
    z-index: 5000;
    position: relative
}

.flex-control-paging li a {
    width: 10px;
    height: 10px;
    display: block;
    background: #666;
    background: rgba(255, 255, 255, .7);
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(255, 255, 255, .9)
}

.flex-control-paging li a.flex-active {
    background: #ac8ca1;
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

@media screen and (max-width:860px) {
    .mainbanner .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0
    }

    .mainbanner .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px
    }
}

@media screen and (max-width:500px) {
    .mainbanner .flex-direction-nav a {
        width: 30px !important;
        height: 30px !important
    }

    .mainbanner .flex-direction-nav .flex-next,
    .mainbanner .flex-direction-nav .flex-prev {
        bottom: 15px !important
    }

    .mainbanner .flex-direction-nav a:before {
        font-size: 23px !important
    }

    .mainbanner .flex-direction-nav .flex-next {
        right: 5px !important
    }
}