@font-face {
    font-family: 'Selima';
    src: url('../fonts/selima/Selima.woff2') format('woff2'),
        url('../fonts/selima/Selima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}